:root{
    --black: #1C1C1C;
    --white: #F8F8F8;
    --ligth-blue: #61afa6;
    --ligth-gray: #B8B8B8;
    --bold-gray: #676767;
    --bold-white: #EBEAEA;
    --super-light-green: #5ab963;
    --font: "Raleway", sans-serif;
}